body{
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    border:none;
    border-radius:15px;
    box-shadow:0px 10px 25px rgba(0,0,0,.15);
}

.timer{
    font-size:32px;
    font-weight:bold;
    color:#dc3545;
}

.badge-status{
    font-size:15px;
}

.question{

    margin-top:25px;

    margin-bottom:25px;

}

.btn-primary{

    border-radius:10px;

}

.title{

    font-size:30px;

    font-weight:bold;

}

.subtitle{

    color:gray;

}

.login-card{

    width:450px;

    margin:auto;

    margin-top:100px;

}